.ipynb_checkpoints/Part3_Transformer-checkpoint.ipynb
checkpoints/*
checkpoints/
cs236781/__pycache__/*.pyc
hw3/__pycache__/*.pyc
__pycache__/
*.pyc
*.pyo
*.pyd
toy_transfomer_encoder.pt
trained_transfomer_encoder.pt
